profiles {
    standard {
        docker {
            enabled = true
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/2025-02-05-CHUSJ-Panel-20kb-LP.bed"
            low_fidelity_list = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/oncology/low_fidelity_genes_list.txt"
            padding = 20000
            publish = true
            help = false
        }
    }
    test {
        docker {
            enabled = true
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/2025-02-05-CHUSJ-Panel-20kb-LP.bed"
            low_fidelity_list = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/oncology/low_fidelity_genes_list.txt"
            padding = 20000
            publish = false
            help = false
        }
    }
    drac {
        process {
            withLabel: 'sam_mid' {
                array = 4
                executor = 'slurm'
                cpus = 10
                memory = 20.GB
                time = 4.h
            }
            withName: 'mosdepth' {
                array = 4
                executor = 'slurm'
                cpus = 10
                memory = 20.GB
                time = 3.h
            }
            withName: 'multiqc' {
                array = 4
                executor = 'slurm'
                cpus = 1
                memory = 200.MB
                time = 30.min
            }
            withLabel: 'deeptools' {
                array = 2
                executor = 'slurm'
                cpus = 5
                memory = 5.GB
                time = 4.h
            }
            withName:nanoplot {
                array = 2
                executor = 'slurm'
                cpus = 10
                memory = 30.GB
                time = 4.h
            }
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/2025-02-05-CHUSJ-Panel-20kb-LP.bed"
            low_fidelity_list = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/oncology/low_fidelity_genes_list.txt"
            padding = 20000
            publish = true
            help = false
        }
        apptainer {
            enabled = true
            autoMounts = true
            runOptions = "-B /project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
    test_drac {
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/2025-02-05-CHUSJ-Panel-20kb-LP.bed"
            low_fidelity_list = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/oncology/low_fidelity_genes_list.txt"
            padding = 20000
            publish = true
            help = false
        }
        apptainer {
            enabled = true
            autoMounts = true
            runOptions = "-B /project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/"
            low_fidelity_list = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2025/oncology/low_fidelity_genes_list.txt"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
}
