profiles {
    standard {
        docker {
            enabled = true
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb.bed"
            bed_nopad = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb_nobuffer.bed"
            threads = 10
            publish = true
            help = false
            multiqc_name = "_background"
        }
    }
    test {
        docker {
            enabled = true
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb.bed"
            bed_nopad = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb_nobuffer.bed"
            threads = 3
            publish = false
            help = false
            multiqc_name = "_background"
        }
    }
    drac {
        process {
            withLabel: 'sam_mid' {
                array = 4
                executor = 'slurm'
                clusterOptions = "--cpus-per-task=10 --mem=20G --time=4:00:00"
            }
            withName: 'mosdepth' {
                array = 4
                executor = 'slurm'
                clusterOptions = "--cpus-per-task=10 --mem=20G --time=3:00:00"
            }
            withName: 'multiqc' {
                array = 4
                executor = 'slurm'
                clusterOptions = "--cpus-per-task=1 --mem=1G --time=1:00:00"
            }
            withLabel: 'deeptools' {
                array = 4
                executor = 'slurm'
                clusterOptions = "--cpus-per-task=5 --mem=5G --time=4:00:00"
            }
        }
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb.bed"
            bed_nopad = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb_nobuffer.bed"
            threads = 10
            publish = true
            help = false
            multiqc_name = "_background"
        }
        apptainer {
            enabled = true
            autoMounts = true
            runOptions = "-B /project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
    test_drac {
        params {
            out_dir = "output"
            bam = null
            bed = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb.bed"
            bed_nopad = "/project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/2024-saint-jude-cancer-panel-vpl-20kb_nobuffer.bed"
            threads = 4
            publish = true
            help = false
            multiqc_name = "_background"
        }
        apptainer {
            enabled = true
            autoMounts = true
            runOptions = "-B /project/ctb-noncodo/Platform/references/gene_panels/adaptive_sampling/"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
}
